.video-card {
    background-color: #191919;
    border-radius: 10px;
    width: Hug (295.18px)px;
    height: Hug (303.38px)px;
    padding: 11.09px ;
    border-radius: 11.09px ;
    border: 0.92px solid #040404;
    text-align: start;
  }
  
  .video-card-thumbnail {
    position: relative;
  }
  
  .video-card-thumbnail img {
    width: 100%;
    display: block;
  }
  
  .video-card-content {
    width: Fixed (273px)px;
    height: Hug (109.39px)px;
    padding: 7px;
    gap: 7.39px;
  }
  