.product_listing{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: Hug (647.99px)px;
    gap: 12px;
}

.product {
    background-color: #191919;
    display: flex;
    text-align: left;
    z-index: 0;
    width: 100%;
    height: 318px;
    border-radius: 20px;
}

.product-img{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 10px;
}

.product-img img{
    background-color: #121212;
    width: 316px;
    height: 292px;
    border-radius: 18px ;
}

.product-info{
    margin: 20px 20px 20px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.heart{
    position: absolute;
    top: 5px;
    right: 10px;
}

.product-info h4{
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 21.95px;
    color: #D1D5DB;
}

.product-intro , .product-details{
    display: flex;
    flex-direction: column;
    gap:8.58px;
}

.product-features{
    display: flex;
    gap: 8.58px;
}

.product-feature {
    width: Fixed (121.44px)px;
    height: 22px;
    padding: 3px 6px;
    border-radius: 10px ;
    background-color: #202020;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.product-feature p{
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #B3B3B3;
    text-align: center;
    margin: 0;
}

.product-choice {
    width: 137px;
    height: 27px;
    padding: 4px 15px;
    border-radius: 34px;
    background-color: #172432;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  
  .product-choice p {
    margin: 0;  
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    color: #2D5ECE;
  }
  


.product-des p{
    font-size: 12.35px;
    font-weight: 500;
    line-height: 16.08px;
    text-align: left;
    color: #A7A7A7;
}

.product-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px 0;
}

.product-learn_more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10.29px;
    width: Hug (98.7px)px;
    height: Hug (19.41px)px;
    cursor: pointer;
}

.product-learn_more a{
    color: #0C8CE9;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.21px;
}

@media (max-width: 650px){
    .product_listing{
        width: 100%;
        height: Hug (647.99px)px;
        gap: 7px;
    }

    .product {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .product-info{
        margin: 10px;
    }

    .product-choice {
        width: 130px;
        height: 20px;
        padding: 2px 7.5px;
        border-radius: 30px;
    }

}