.product-card {
    background-color: #1A1A1A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: hug(296px)px;
    height: hug(428px)px;
    padding: 12px;
    border-radius: 20px;
    gap: 11px;
  }
  
  .card-product-img {
    background-color: #0a0808;
    width: 250px;
    height: 225px;
    border-radius: 12.28px ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 0;
    margin: 0;
    position: relative;
    
  }
  
  .card-product-img img{
    z-index: 1;
    width: 100%;
    display: block;
  }
  
  .card-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
  }

  .card-product-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 5px 15px 5px;
    border-bottom: 1px solid #2D2D2D;
  }

  .card-product-des{
    margin: 0;
  }
  
  .card-product-price-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
  }
  
  .card-product-price {
    display: flex;
    flex-direction: column;
    text-align: left;
  }  

  .card-product-price p{
    font-size: 13.82px;
    font-weight: 500;
    line-height: 20.73px;
    color: #999999;
    margin: 0;
  }

  .card-product-price span{
    font-size: 18.42px;
    font-weight: 700;
    line-height: 27.64px;
    color: #FDFDFD;
  }

  @media (max-width: 820px){
    .product-card{
      width:29%;
    }

    .card-product-img {
      width: 80%;
      height: 80%;
    }
  }

  @media (max-width:420px) {
    .product-card{
      width: 95%;
    }
    
    .card-product-price span{
      font-size: 15px;
      line-height: 25px;
    }
  }



