.recommendation-panel {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  color: white;
  width: 100%;
  border-radius: 20px;
  gap: 17px;
}

.overlay__close{
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 1150px) {
  .recommendation-panel {
    display: none; /* Hide the panel by default on smaller screens */
    position: fixed; /* Fixed positioning for full screen display */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Ensure it's on top */
    background-color: rgba(0, 0, 0, 0.8); /* Dark background to cover screen */
    flex-direction: column;
  }

  .recommendation-panel.open {
    display: flex; /* Show panel when open */
  }
  .overlay__close{
    display: block;
  }

}


/**PRogress bar*/

.progress-section {
  background-color: #121212;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.loader {
  margin-left: 18px;
}

.progress-text {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.progress-text h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  color: #D1D5DB;
}

.arrow-down {
  cursor: pointer;
}

.panel-close-button{
  display: none;
}







/**message**/
.recommendation-message {
  display: flex;
  gap: 14px;
  margin: 0 15px;
}

  
.logo-icon{
   align-items: start;
}

.recommendation-message p{
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.62px;
  text-align: left;
  color: #D1D5DB;
  margin: 0;
}

.sources-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 12px;
}

.sources{
  display: flex;
  align-items: center;
  gap: 12px;
}

.sources h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
}







/**Products**/

.panel-product-cards {
  display: flex;
  gap: 17px;
  align-items: center;
}

.panel-product-card {
  border-radius: 8px;
  width: 200px;
}

.panel-product-image {
  background-color: #121212;
  width: 180px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  margin: 0;
}

.panel-product-image img{
  z-index: 1;
}

.panel-product-text{
  display: flex;
  flex-direction: column;
  gap: 5.36px;
}

.product-name{
  margin: 0;
  font-size: 11.17px;
  line-height: 17.87px;
}

.panel-product-text{
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 5.36px;
  padding: 5px 5px 15px 5px;
  border-bottom: 0.67px solid #2D2D2D;
}

.panel-product-des{
  margin: 0;
}

.panel-product-price-button{
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  margin: 0 10px;
}

.panel-product-price{
  display: flex;
  flex-direction: column;
  text-align: left;

}

.panel-product-price p{
  font-size: 9.26px;
  font-weight: 500;
  line-height: 13.89px;
  color: #999999;
  margin: 0;
}

.panel-product-price span{
  font-size: 12.35px;
  font-weight: 700;
  line-height: 18.52px;
  color: #FDFDFD;
}

.panel-product-view button{
  width: Fill (105.36px)px;
  height: Hug (32.52px)px;
  padding: 9.26px 12.35px 9.26px 12.35px;
  border-radius: 5.14px;
  background-color: #0C8CE9;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  font-size: 9.26px;
  font-weight: 500;
  line-height: 13.89px;
}

.panel-product-view button:hover{
  background-color: #FFFFFF;
  color: #0C8CE9;
  border: 1px solid #0C8CE9;
}








/**Actions**/

.actions-section {
  display: flex;
  height:Hug (50px);
  align-items: center;
  gap: 19px;
  margin: 10px 0;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 16px 10px;
  background-color: #0C74E91F;
  border: none;
  border-radius: 10px;
  color: #0C74E9;
  cursor: pointer;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
}






/**Search**/
.search-section {
  width: 100%;
  height: 65px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px; /* Optional: set max-width for input area */
  height: 65px; /* Fixed height */
  padding-right: 80px; /* Space for both icons on the right */
  background-color: #141414;
  border-radius: 8.98px;
  box-shadow: 0px 0px 0px 5px #202020;
  display: flex;
  align-items: center; /* Center contents vertically */
}

input[type="text"] {
  color: #666666;
  background-color: #141414;
  width: 100%;
  height: 100%; /* Full height of the wrapper */
  padding-left: 15px; /* Padding for text inside input */
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  outline: none; /* Remove default focus outline */
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-icon {
  right: 10px; /* Position of the arrow icon */
  cursor: pointer;
}

.bulb-icon {
  right: 60px; /* Position of the bulb icon */
}
