.navbar{
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68.89px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 119.65px;
    height: 38.96px;
    gap: 8.23px;
    margin-left: 120px;
    cursor: pointer;
}

.logo img{
    width: 37.42px;
    height: 38.96px;
}

.logo h3{
    height: 25px;
    font-family: Gilroy-Medium;
    font-size: 21.91px;
    font-weight: 400;
    line-height: 24.65px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
    margin: 6px 0;
}

.nav-links{
    display: flex;
    width: 196.9;
    height: 20px;
    gap: 22.45px;
}

.nav-links li, 
.nav-smallscreen_links li{
    list-style: none;
    font-size: 13.47px;
    font-weight: 500;
    line-height: 20.21px;
    text-align: left;
}

.nav-links a, .nav-smallscreen_links a{
    text-decoration: none;
    color:#FFFFFF;
}

.history{
    margin-right: 120px;
    justify-self: flex-end;
}

.history img{
    cursor: pointer;
}

.recommendation-button{
    display: none;
}

.navbar-smallscreen{
    display: none;

}

.navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
}

.navbar-flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: #DCCA87;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-smallscreen_links{
    list-style: none;

}

.nav-smallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.nav-smallscreen_links li:hover{
    color: var(--color-white);
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (max-width: 1150px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .nav-links{
        display: none;
    }

    .navbar-smallscreen{
        display: flex;
    }

    .recommendation-button{
        width: Fixed (150px)px;
        height: Hug (40px)px;
        padding: 10px 14px;
        border-radius: 7px;
        background-color: #FF58A8;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        display: block;
        position: absolute;
        right: 50px;
      }
      
      .recommendation-button:hover{
        background-color: #FF58A82B;
        color: #FF58A8;
        border: 1px solid #FF58A8;
      }

      .history{
        position: absolute;
        right: 100px;
        justify-self: flex-end;
       }

    .logo{
        margin-left: 20px;
    }
    
    .logo img{
        width: 35px;
        height: 36px;
    }
    
    .logo h3{
        height: 20px;
        font-size: 17px;
        line-height: 20px;
        margin: 6px 0;
    }
    
}

@media screen and (max-width:650px) {

    .navbar{
        display: flex;
        align-items: center;
    }


    .recommendation-button{
        padding: 8px;
        display: flex;
        align-self: center;
        position: absolute;
        right: 50px;
      }
      

      .history{
        position: absolute;
        right: 80px;
        justify-self: flex-end;
       }

    .logo{
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img{
        width: 30px;
        height: 31px;
    }
    
    .logo h3{
        font-size: 17px;
        line-height: 17px;
    }
      

}











 