.blogs{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    justify-content: space-around;
  }

  @media (max-width: 1150px){
    .blog-list {
        gap: 14px;
      }
  }


  @media (max-width: 650px){
    .blog-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}
  