.other-options{
    display: flex;
    flex-direction: column;
}

.other-product-cards{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.other-products-pagination{
    display: flex;
    align-items: center;
    width: Fixed (888px)px;
    height: Hug (60.39px)px;
    padding: 15px;
    border-top: 0.77px solid #262626 ;
    justify-content: space-between;
}

.pagination-pages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-pages p{
    font-family: 'Urbanist' , sans-serif;
    font-size: 15.48px;
    font-weight: 500;
    line-height: 23.23px;
    color: #99999999;
    margin: 0;
}

.pagination-pages span{
    color: #FFFFFF;
}

.pagination-arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.74px;
}

.pagination-arrow{
    width: Hug (44.9px)px;
    height: Hug (44.9px)px;
    padding: 10.84px;
    border-radius: 50%;
    border: 0.77px solid #262626;
}

.pagination-arrow-right{
    background-color: #1A1A1A;
    cursor: pointer;
}

.pagination-arrow-left{
    cursor: not-allowed;
}

@media (max-width: 650px){
    .other-product-cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 10px 20px 10px;
        justify-content: center;
        align-items: center;
    }
}