.header {
    position: relative; 
    width: 100%;
    height: 46.94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A; 
    background-image: url("../../../public/img/background/header-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    border-bottom: 0.75px solid #262626;
    z-index: 1; 
  }

.header_text{
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.47px;
    font-weight: 500;
    line-height: 20.21px;
    text-align: center;
    color: #FFFFFF;
    gap: 7.48px;
}   

.header_text a{
    color: #FFFFFF;
}

.close-icon{
    margin-left: auto;
    margin-right: 8px;
    background: #1A1A1A;
    width: 23.95px;
    height: 23.95px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.close-icon img{
    padding-right: 5px;
    width: 17.96px;
    height: 17.96px;
    padding: 4.49px;
    cursor: pointer;
}


@media (max-width: 650px){
    .header {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header_text{
        font-size: 11px;
        line-height: 18px;
        gap: 5px;
    } 
}